<header id="greeting">
        <nav>
            <a href="/">
                <img src="/imgs/spark.svg" alt="" id="logo">
            </a>
            <span class='logo'>SPARK</span>
            
            <div></div>
            <h1 id="greeting-msg">Hello <%= current_user()['first_name']%> </h1>
            <form action="/logout" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Log out</button>
            </form>
        </nav>
        

        <h2>Class Dashboard(<%= class_list[0]['class_name'] %>)</h2>
</header>
<main>
    <section>
        <h2>Submissions</h2>
        <ul>
            <% class_list.each do |student|%>
                <li>
                    <%= student['first_name'] %> <%= student['last_name'] %>
                    
                        <% if has_submitted?(student['id'], homework_id) %>
                            <button class="collapsible">View Submission</button>
                            <div class="content">
                                <h3>Question:</h3>
                                <p><%= homework['description'] %></p>
                                <h3>Answer: </h3>
                                <p><%=find_answer_by_student_id(student['id'], homework_id)%></p>
                                <% if !has_been_marked?(student['id'], homework_id)%>
                                    <form action="/submissions/<%=student['id']%>&<%=homework_id%>/update" method="POST">
                                        <input type="submit" name="correct" value="correct">
                                        <input type="submit" name="incorrect" value="incorrect">
                                    </form>
                                <% else%>
                                    <p>marked</p>
                                <% end %>
                            </div>
                        <% else %>
                            <span>Not submitted</span>
                        <% end %>
                    
                </li>
            <% end %>
        </ul>
    </section>
</main>